/* .card {
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-weight: bold;
} */

.card Img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
